<div class="dark-container">
  <h1>¿Qué es Participapp?</h1>

  <p>
    ParticipApp es una aplicación web que reúne a ciudadanos interesados en el
    Proceso Constituyente y que no disponen de mucho tiempo para buscar noticias
    actualizadas por su cuenta.
  </p>

  <p>
    Los usuarios se registran en la página y seleccionan temas de interés,
    además de la periodicidad con la que desean recibir el contenido. Luego, la
    aplicación se encarga de enviar mails con las novedades del proceso según
    estas preferencias.
  </p>

  <p>
    Las noticias se obtienen a través de dos fuentes primarias:
  </p>

  <ul>
    <li>
      Los mismos usuarios de la aplicación, quienes pueden redactar noticias
      que deben ser aprobadas por los editores (moderadores) de la aplicación.
    </li>
    <li>
      Prensa externa.
    </li>
  </ul>

  <p>
    Para cada noticia, los usuarios pueden crear un foro donde podrán discutir
    sus opiniones sobre ellas.
  </p>
</div>
