<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag "chile.png", class: "img-responsive" %>
        <div class="intro-text">
          <span class="name">Participapp</span>

          <div class="star-decoration">
            <div class="bar"></div>
            <div class="star-container">
              <hr class="star-light">
            </div>
            <div class="bar"></div>
          </div>

          <span class="skills">La Nueva Constitución a un mail de distancia.</span>
        </div>
      </div>
    </div>
  </div>
</header>
