db:
  image: postgres:9.5.0
web:
  build: .
  command: rails server puma -b 0.0.0.0
  ports:
    - '80:3000'
  links:
    - db
  environment:
    - SECRET_KEY_BASE
    - DEVISE_SECRET_KEY
    - PAPP_GMAIL_USERNAME
    - PAPP_GMAIL_PASSWORD
