@import "palette";

body {
  background: url(image_path('background.jpg')) no-repeat center center fixed;
  background-size: cover;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}

.content {
  padding-top: 125px;
  padding-bottom: 0px;
}

.push {
  height: 2em;
}

.dark-container {
  color: white;
  background-color: $deep-blue-transparent;
  border-radius: 10px;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;

  legend {
    color: white;
  }

  .well {
    color: $dark-deep-blue;
  }
}
