@import "palette";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-top: 125px;
  padding-bottom: 250px;
}

header .container {
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-bottom: 35px;
}

.dark-container {
  color: white;
  background-color: $deep_blue_transparent;
}
