@import "shared/palette";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.static_pages.home{
  background: $blue;
  background: url(image_path('background.jpg')) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-top: 125px;
  padding-bottom: 250px;
}

.footer {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 25px;
}

.navbar-nav>li>a, .navbar-nav>li .btn-lg, .btn-group-lg>.btn {
  padding-right: 5px;
  padding-left: 5px;
}

ul {
  li {
    margin: 5px;
  }
}

header .container {
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: $deep_blue_transparent;
  border-radius: 8px;
  margin-bottom: 34px;
}

footer .footer-above{
  background-color: $deep_blue_transparent;
}

footer .footer-below{
  background-color: $dark_deep_blue;
  border-top: 1px solid $dark_deep_blue;
  box-shadow: 0 0 2px #000;
}

footer .footer-below a{
  color: $light_blue !important;
}