html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-align-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-align-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-top: 125px;
  padding-bottom: 250px;
}

.footer {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 25px;
}
