@import "palette";

.footer {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 25px;
}

footer {
  .footer-above {
    background-color: $deep-blue-transparent;
  }

  .footer-below {
    background-color: $dark-deep-blue;
    border-top: 1px solid $dark-deep-blue;
    box-shadow: 0 0 2px #000;

    a {
      color: $light-blue !important;
    }
  }
}
