@import "palette";

form {
  fieldset {
    display: block;
    border: 2px groove;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;

    legend {
      display: block;
      width: auto;
      font-size: 14px;
      font-weight: bold;
      padding-left: 2px;
      padding-right: 2px;
      border: none;
    }
  }

  .form-error {
    color: red;
  }
}
