@import "shared/palette";

.navbar {
  background-color: $deep-blue;
  border-bottom: 1px solid $dark-deep-blue;
  box-shadow: 0 0 2px #000;

  .navbar-brand {
    display: flex;
    align-items: center;

    &:hover, &:focus {
      color: $light-blue !important;
    }
  }

  ul.nav li{
    margin: 0 !important;
  }

  .dropdown-toggle, .btn.btn-default {
    font-size: 15px;
    border-radius: 0;
    border: 0;
    background-color: $deep-blue;
    padding: 20px 14px !important;
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus,
  .dropdown-toggle:active,
  .dropdown-toggle.open,
  .btn.btn-default:hover {
    color: $light-blue !important;
    background-color: $dark-deep-blue !important;
    transition: background-color 0.3s;
  }
}

.navbar-fixed-top {
  padding: 0;
}
