<footer class="footer text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3">
          <p><i class="fa fa-sign-in fa-4x"></i></p>
          <h3>1.-Ingresa</h3>
        </div>
        <div class="footer-col col-md-3">
          <p><i class="fa fa-check-square-o fa-4x"></i></p>
          <h3>2.-Escoge Temas de Interés</h3>
        </div>
        <div class="footer-col col-md-3">
          <p><i class="fa fa-envelope fa-4x"></i></p>
          <h3>3.-Recibe Feed Periódicamente</h3>
        </div>
        <div class="footer-col col-md-3">
          <p><i class="fa fa-comments fa-4x"></i></p>
          <h3>4.-Comparte</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="center-align-space-around">
          <a href="https://github.com/sasalatart/participapp" target="_blank">
            <i class="fa fa-github"></i> Repositorio Grupo 4
          </a>
          <span>2015-2</span>
        </div>
      </div>
    </div>
  </div>
</footer>
