<%= form_for @user, :as => :user, :namespace => 'sign_in', :url => session_path(@user) do |f| %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-envelope"></i>
      </span>
      <%= f.email_field :email, placeholder: 'Ingresa tu e-mail',
                        class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-key"></i>
      </span>
      <%= f.password_field :password, placeholder: 'Ingresa tu contraseña',
                           class: 'form-control', required: true %>
    </div>
  </div>

  <div class="center-align-space-around">
    <%= f.submit 'Sign in', class: 'btn btn-default' %>
  </div>
<% end %>
