.bgm-white {
    background-color: #ffffff !important;
}
.c-white {
    color: #ffffff !important;
}
.bgm-black {
    background-color: #000000 !important;
}
.c-black {
    color: #000000 !important;
}
.bgm-brown {
    background-color: #795548 !important;
}
.c-brown {
    color: #795548 !important;
}
.bgm-pink {
    background-color: #e91e63 !important;
}
.c-pink {
    color: #e91e63 !important;
}
.bgm-red {
    background-color: #f44336 !important;
}
.c-red {
    color: #f44336 !important;
}
.bgm-blue {
    background-color: #2196f3 !important;
}
.c-blue {
    color: #2196f3 !important;
}
.bgm-purple {
    background-color: #9c27b0 !important;
}
.c-purple {
    color: #9c27b0 !important;
}
.bgm-deeppurple {
    background-color: #673ab7 !important;
}
.c-deeppurple {
    color: #673ab7 !important;
}
.bgm-lightblue {
    background-color: #03a9f4 !important;
}
.c-lightblue {
    color: #03a9f4 !important;
}
.bgm-cyan {
    background-color: #00bcd4 !important;
}
.c-cyan {
    color: #00bcd4 !important;
}
.bgm-teal {
    background-color: #009688 !important;
}
.c-teal {
    color: #009688 !important;
}
.bgm-green {
    background-color: #4caf50 !important;
}
.c-green {
    color: #4caf50 !important;
}
.bgm-lightgreen {
    background-color: #8bc34a !important;
}
.c-lightgreen {
    color: #8bc34a !important;
}
.bgm-lime {
    background-color: #cddc39 !important;
}
.c-lime {
    color: #cddc39 !important;
}
.bgm-yellow {
    background-color: #ffeb3b !important;
}
.c-yellow {
    color: #ffeb3b !important;
}
.bgm-amber {
    background-color: #ffc107 !important;
}
.c-amber {
    color: #ffc107 !important;
}
.bgm-orange {
    background-color: #ff9800 !important;
}
.c-orange {
    color: #ff9800 !important;
}
.bgm-deeporange {
    background-color: #ff5722 !important;
}
.c-deeporange {
    color: #ff5722 !important;
}
.bgm-gray {
    background-color: #9e9e9e !important;
}
.c-gray {
    color: #9e9e9e !important;
}
.bgm-bluegray {
    background-color: #607d8b !important;
}
.c-bluegray {
    color: #607d8b !important;
}
.bgm-indigo {
    background-color: #3f51b5 !important;
}
.c-indigo {
    color: #3f51b5 !important;
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Open+Sans);
}
.bgm-red {
    background-color: #f44336 !important;
}
small {
    font-size: 11px;
}
.card {
    font-family: Roboto;
    color:black;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}
.card .card-header {
    position: relative;
}
@media screen and (min-width: 768px) {
    .card .card-header:not(.ch-alt) {
        padding: 23px 25px;
    }
}
@media screen and (max-width: 991px) {
    .card .card-header:not(.ch-alt) {
        padding: 18px;
    }
}
.card .card-header h2 {
    font-family: Roboto;
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: 400;
}
.card .card-header h2 small {
    display: block;
    margin-top: 8px;
    color: #AEAEAE;
    line-height: 160%;
}
@media screen and (min-width: 768px) {
    .card .card-header.ch-alt {
        padding: 23px 26px;
    }
}
@media screen and (max-width: 991px) {
    .card .card-header.ch-alt {
        padding: 18px 18px 28px;
    }
}
.card .card-header.ch-alt:not([class*="bgm-"]) {
    background-color: #f7f7f7;
}
.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
    color: #fff;
}
.card .card-header .actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 15px;
}
.card .card-header .btn-float {
    right: 25px;
    bottom: -23px;
    z-index: 1;
}
@media screen and (min-width: 768px) {
    .card .card-body.card-padding {
        padding: 23px 26px;
    }
}
@media screen and (max-width: 991px) {
    .card .card-body.card-padding {
        padding: 18px;
    }
}
.card .card-body.card-padding-sm {
    padding: 15px;
}
.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
    padding-top: 0;
}
.chart-edge {
    margin: 20px -8px 0 -10px;
    overflow: hidden;
}
.chart-edge .flot-chart {
    bottom: -14px;
}
.charts-row {
    margin-top: 50px;
    margin-bottom: 20px;
}
.card h2{
    text-transform:none;
}