@import "shared/palette";

.static_pages {

  .star-decoration {
    width: 280px;
    margin: 0px auto;

    .bar {
      background-color: #FFF;
      width: 100px;
      height: 4px;
      display: inline-block;
      margin: 32px 0px;
    }

    .star-container {
      display: inline;
      width: 20px;
      height: 50px;
    }

    .star-light {
      width: 50px;
      display: inline-block;
      line-height: 0;
      border: 0px none;
      margin: 0px;
      padding: 45px 0px 0px;
    }
  }
}
