@import "shared/palette";

.static_pages {

  .img-responsive, .intro-text .name, .intro-text .star-decoration, .intro-text .sub-title{
    opacity: 0;
  }

  .star-decoration {
    width: 280px;
    margin: 0px auto;

    .bar {
      background-color: #FFF;
      width: 100px;
      height: 4px;
      display: inline-block;
      margin: 32px 0px;
    }

    .star-container {
      display: inline;
      width: 20px;
      height: 50px;
    }

    .star-light {
      width: 50px;
      display: inline-block;
      line-height: 0;
      border: 0px none;
      margin: 0px;
      padding: 45px 0px 0px;
    }
  }
}

.about{
  .dark-container {
    color: white;
    background-color: $deep-blue;
    border-radius: 10px;
    padding: 10px 40px;
    margin-top: 25px;
    margin-bottom: 50px;

    legend {
      color: white;
    }

    .well {
      color: $dark-deep-blue;
    }
  }
}
